
body {
  text-align: center;
  background-color: #666;
}

.setting-box {
  display: inline;
  color: #ddd;
  padding: 2px;
  margin: 3px;
}
input.setting-box {
  color: #222;
  width:8em;
}

.session-settings-box {
  position: fixed;
  top: -1em;
  left: 0;
  width: 100%;
  padding: .6em;
  background-color: #222;
}

.image-display-box {
  margin-top: 4em;
}

.search-box {
  background-color: #bbb;
  width: 80%;
  margin: auto;
  padding-top: .6em;
  padding-bottom: .6em;
}

.image-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 0;
  vertical-align: middle;
}
.image-box-image {
  vertical-align: middle;
  margin: auto;
}

.image-selection-box {
  background-color: #bbb;
  width: 80%;
  margin: auto;
}


