
body {
  text-align: center;
  background-color: #666;
}

.setting-box {
  display: inline-block;
  color: #ddd;
  padding: 2px;
  margin: 3px;
}
input.setting-box {
  color: #222;
  width:4em;
}

.settings-box-real {
  position: fixed;
  display:flex;
  justify-content:center;
  top: -1em;
  left: 0;
  width: 100%;
  padding: .6em;
  padding-left: 0;
  padding-right: 0;
  margin:0;
  background-color: #222;
}
.settings-box-fake{
  overflow:hidden;
  display:flex;
  justify-content:center;
  width: 100%;
  padding: .6em;
  padding-left: 0;
  padding-right: 0;
  padding-top: .1em;
  padding-bottom: .1em;
  margin:0;
  background-color: #222;
}

.display-box {
  display:flex;
  flex-direction:column;
  height: 99vh;
  width: 97vw;
  margin:auto;

  overflow-y: hidden;
  transition-property: all;
  transition-duration: 1s;
}
.display-box.closed {
  height: 0;
}

.image-display-box {
  height:100%;
  margin:0;
  flex-grow:1;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.playback-control-box {
  float:left;
  width:100%;
  margin:0;
}
.search-box {
  background-color: #bbb;
  width: 80%;
  margin: auto;
  padding-top: .6em;
  padding-bottom: .6em;
}
.button {
  background-color: #222;
  border: none;
  padding: .25em;
  margin: .25em;
  color: #bbb;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}
.button:active {
  background-color: #666;
}

.image-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 0;
  vertical-align: middle;
}
.image-box-image {
  vertical-align: middle;
  margin: auto;
}

.image-selection-box {
  background-color: #bbb;
  width: 80%;
  margin: auto;
}


